uvicorn
fastapi
pydantic
asyncio
--extra-index-url https://download.pytorch.org/whl/cu118

numpy
opencv-python
onnx
insightface
psutil
torch
torchvision
onnxruntime
# onnxruntime-gpu
tqdm
ftfy
regex
loguru
